.row {
  color: white;
  margin-left: 20px;
}

.row_posters {
  /* this is a container , display: flex converts container items in single row*/
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  /* this tells all the browsers that keep the scrollbar hidden but work with functionality*/
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 450ms; /*it provides slight daily */
  margin-right: 10px;
}

.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
